  <!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">Joel Hilton's Film Collection</h1>
        <h3 class="mb-5">
            <em>A Free Bootstrap Theme by Start Bootstrap</em>
        </h3>
        <img src="~/img/JoelHilton.jpg" />
    </div>
    <div class="overlay"></div>
</header>