  <!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">My Podcast</h1>
        <h3 class="mb-5">
            <em><a href="https://baconsale.com/">Check out this Podcast!</a></em>
        </h3>
    </div>
    <div class="overlay"></div>
</header>